/*
 Created by: Christian Niro
 */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 4vw;
  font-size: 1.2vw;
  z-index: 1000;
  transition: all 0.5s;
}


.nav-dark {
  background-color: black;
}

.brand {
  width: 100px;
  height: auto;
}

.left {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  gap: 20px;
  margin-left: 2vw;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.small {
  display: none;
}

@media (max-width: 305px) {
  nav{
    margin-top: -45px;
  }

  .nav-icons {
    gap: 10px;
  }

  .nav-dark {
    margin-top: -45px;
  }
  .brand {
    width: 50px;
    margin-top: -5px;
  }
  .nav-items {
    display: none !important;
  }
  .small {
    display: block;
    font-size: 2vw;

  }
  
}


@media (min-width: 306px) and (max-width: 800px) {
  nav{
    margin-top: -45px;
  }
  .nav-dark {
    margin-top: -45px;
  }
  .brand {
    width: 90px;
    margin-top: -5px;
  }
  .nav-items {
    display: none !important;
  }
  .small {
    display: block;
    font-size: 2vw;

  }
  
}


